img.hero-img {
    height: 300px;
    border-radius: 15px;
}
.home-section {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 0rem;
}
.hero-text {
    width: 50%;
}
p.hero-desc {
    font-weight: 400;
    font-size: 24px;
}
button {
    width: 40%;
    font-size: 22px;
    padding: 0.74rem;
    border-radius: 13px;
    margin-right: 1rem;
}
.btn-container {
    display: flex;
    
}
.donate {
    background-color: var(--color-primary);
    color: white;
}
button.ngo-login {
    background: transparent;
    border: 3px solid var(--color-primary);
}
.hero-content-bottom-margin {
    margin-bottom: 0.8rem;
}