.container-login{
    height: 100vh;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}
input{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    background-color: #D9D9D9;
    padding: 0 10px;
    margin-bottom: 10px;
    text-align: left;
    font-style: italic;
}
#section1{
    display: flex;
    flex-direction: column;
    padding-right: 0%;
    height: 0px;
    margin-right: 70px;
}
#section2{
    display: flex;
    flex-direction: column;
    padding-left: 70%;
    height: 0px;
    margin-left: 100px;
}
.submit, button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #5E51FB;
    cursor: pointer;
}
