section.navbar {
    background-color: var(--color-primary);
    height: 75px;
}
.nav-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: var(--container-nav-item-width-lg);
}
.container.navbar-section {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-right: 20px; /* Adjust the spacing as needed */
}
@media screen and (max-width: 1140px){
    .nav-item-container {
        width: var(--container-nav-item-width-md);
    }
    section.navbar {
        font-size: 14px; /* Adjust the font size as needed */
        text-align: center;
    }
}
